exportPattern("^[[:alpha:]]+")
import(plm)
importFrom("Hmisc", errbar)
importFrom("pracma", linspace, quiver, meshgrid)
importFrom("deSolve", ode)
importFrom("caTools", combs)
import(matrixStats)
import(bdsmatrix)
import(Formula)
import(MASS)
import(nlme)
import(zoo)
import(sandwich)