exportPattern("^[[:alpha:]]+")
import(plm)
importFrom("Hmisc", errbar)
importFrom("pracma", linspace, quiver, meshgrid)
importFrom("deSolve", ode)
importFrom("caTools", combs)
import(matrixStats)
import(Formula)
import(MASS)
